In [1]:
df2 = pd.read_csv("~/hosthome/1_data/all2.csv")

/home/dockeruser/anaconda2/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (5,11,14,15,16,19) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [2]:
df2.columns

Index([u'Unnamed: 0', u'Unnamed: 0.1', u'accommodates', u'bathrooms',
       u'bedrooms', u'borough', u'city', u'country', u'host_id',
       u'last_modified', u'latitude', u'location', u'longitude', u'minstay',
       u'name', u'name_0', u'neighborhood', u'overall_satisfaction', u'price',
       u'property_type', u'reviews', u'room_id', u'room_type', u'survey_id'],
      dtype='object')

In [4]:
df2 = df2.drop(['Unnamed: 0', 'Unnamed: 0.1', 'bathrooms', 'borough', 'country',
       'last_modified', 'latitude', 'location', 'longitude', 'minstay',
       'name', 'neighborhood', 'property_type', 'survey_id'], axis=1)

In [9]:
df2 = df2.drop(['name_0'], axis=1)

In [10]:
pd.options.display.max_rows = 2000000
df2['city'] = df2.city.str.lower()
df2["city"].value_counts()

new_york       171284
paris          121052
los_angeles    101865
london         100332
rome            44840
los angeles     30696
seoul           22446
singapore        7201
Name: city, dtype: int64

In [11]:
df2 = df2[(df2['city'] == 'new_york') | (df2['city'] == 'paris') | (df2['city'] == 'los_angeles') | (df2['city'] == 'london') |
        (df2['city'] == 'rome') | (df2['city'] == 'los angeles') | (df2['city'] == 'seoul') | (df2['city'] == 'singapore')]
df2.head()

,accommodates,bedrooms,city,host_id,overall_satisfaction,price,reviews,room_id,room_type
51278,4.0,1.0,london,1991.0,4.5,48.0,3.0,1782,Private room
51279,4.0,2.0,london,29896.0,4.5,142.0,73.0,9293,Private room
51280,2.0,NaN,london,31655.0,5.0,63.0,53.0,9554,Private room
51281,1.0,NaN,london,31968.0,4.5,64.0,1.0,9607,Private room
51282,7.0,2.0,london,40327.0,NaN,295.0,0.0,11067,Entire home/apt

In [12]:
df2['city'].value_counts()

new_york       171284
paris          121052
los_angeles    101865
london         100332
rome            44840
los angeles     30696
seoul           22446
singapore        7201
Name: city, dtype: int64

In [13]:
df2.to_csv("~/hosthome/1_data/all2_new.csv")