In [1]:
df3 = pd.read_csv("~/hosthome/1_data/all3.csv")

/home/dockeruser/anaconda2/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (5,11,14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [2]:
df3.columns

Index([u'Unnamed: 0', u'Unnamed: 0.1', u'accommodates', u'bathrooms',
       u'bedrooms', u'borough', u'city', u'country', u'host_id',
       u'last_modified', u'latitude', u'location', u'longitude', u'minstay',
       u'name', u'name_0', u'neighborhood', u'overall_satisfaction', u'price',
       u'reviews', u'room_id', u'room_type', u'survey_id'],
      dtype='object')

In [4]:
df3 = df3.drop(['Unnamed: 0', 'Unnamed: 0.1', 'bathrooms', 'borough', 'country',
       'last_modified', 'latitude', 'location', 'longitude', 'minstay',
       'name', 'neighborhood', 'survey_id'], axis=1)

In [6]:
df3 = df3.drop(['name_0'], axis=1)

In [7]:
df3.head()

,accommodates,bedrooms,city,host_id,overall_satisfaction,price,reviews,room_id,room_type
0,10.0,1.0,Hungary,85717154.0,0.0,66.0,0.0,14381799,Shared room
1,11.0,1.0,Hungary,30857397.0,4.5,64.0,5.0,8873017,Shared room
2,4.0,1.0,Hungary,60476809.0,0.0,13.0,2.0,11487631,Shared room
3,12.0,1.0,Hungary,4278809.0,4.0,53.0,3.0,5378469,Shared room
4,4.0,1.0,Hungary,66212321.0,0.0,48.0,0.0,12422262,Shared room

In [9]:
pd.options.display.max_rows = 2000000
df3['city'] = df3.city.str.lower()
df3["city"].value_counts()

new_york              191694
paris                 123373
london                119397
los_angeles           104244
rome                   56994
toronto                43900
montreal               43564
switzerland            42096
san_francisco          36987
miami                  31903
sydney                 31877
washington             30961
philadelphia           27644
seattle                24052
lisbon                 22317
san_diego              20464
nice                   19456
vancouver_bc           19323
lyon                   17202
oahu                   15876
portland               15869
veneto                 15743
new_orleans            15288
venice                 11443
seoul                  11121
hungary                10605
singapore              10027
reykjavik               8886
san diego               8225
vienna                  7840
nashville               7369
versailles              6271
vancouver bc            5781
iceland                 5573
moscow                  5561
porto                   5150
kenya                   4420
lake tahoe              4365
warsaw                  3863
palermo                 3770
ottawa                  3589
turin                   3301
zurich                  2271
quebec city             2022
newhaven_ct             1857
peel                    1847
menorca                 1769
york                    1667
tallin                  1536
wellington              1338
jersey_city             1284
victoria bc             1026
victoria_bc              895
saint_lucia              642
richmond_bc              627
savannah                 494
santa barbara            467
lincoln_county           435
kitchener_waterloo       326
joshua_tree              227
yellowknife              153
newport                   70
linkoping                 50
Name: city, dtype: int64

In [10]:
df3 = df3[(df3['city'] == 'new_york') | (df3['city'] == 'paris') | (df3['city'] == 'los_angeles') | (df3['city'] == 'london') |
        (df3['city'] == 'rome') | (df3['city'] == 'seoul') | (df3['city'] == 'singapore')]
df3.head()

,accommodates,bedrooms,city,host_id,overall_satisfaction,price,reviews,room_id,room_type
49602,4.0,1.0,london,1991.0,4.5,42.0,8.0,1782,Private room
49603,2.0,1.0,london,11077537.0,4.5,123.0,167.0,6487,Private room
49604,4.0,1.0,london,29896.0,4.5,151.0,77.0,9293,Private room
49605,2.0,1.0,london,31655.0,5.0,61.0,55.0,9554,Private room
49606,1.0,1.0,london,31968.0,4.5,104.0,1.0,9607,Private room

In [11]:
df3["city"].value_counts()

new_york       191694
paris          123373
london         119397
los_angeles    104244
rome            56994
seoul           11121
singapore       10027
Name: city, dtype: int64

In [12]:
df3.to_csv("~/hosthome/1_data/all3_new.csv")