In [1]:
df4 = pd.read_csv("~/hosthome/1_data/all4.csv")

/home/dockeruser/anaconda2/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (5,11,14) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [2]:
df4.columns

Index([u'Unnamed: 0', u'Unnamed: 0.1', u'accommodates', u'bathrooms',
       u'bedrooms', u'borough', u'city', u'country', u'host_id',
       u'last_modified', u'latitude', u'location', u'longitude', u'minstay',
       u'name', u'neighborhood', u'overall_satisfaction', u'price', u'reviews',
       u'room_id', u'room_type', u'survey_id'],
      dtype='object')

In [3]:
df4 = df4.drop(['Unnamed: 0', 'Unnamed: 0.1', 'bathrooms', 'borough', 'country',
       'last_modified', 'latitude', 'location', 'longitude', 'minstay',
       'name', 'neighborhood', 'survey_id'], axis=1)

In [4]:
pd.options.display.max_rows = 2000000
df4['city'] = df4.city.str.lower()
df4['city'].value_counts()

new_york                 196192
paris                    145364
london                   126596
los_angeles              107575
rome                      58916
toronto                   46896
switzerland               44767
san_francisco             38100
sydney                    37553
montreal                  32617
miami                     29743
veneto                    27843
philadelphia              27765
lisbon                    23285
washington                22785
san_diego                 22135
seoul                     20024
vancouver_bc              19730
nice                      19673
seattle                   18462
new_orleans               16546
oahu                      16297
portland                  15801
vienna                    13284
venice                    12131
iceland                   10397
reykjavik                  9209
san diego                  8316
lyon                       8106
nashville                  7949
moscow                     7790
sri_lanka                  7107
versailles                 6515
singapore                  5796
las_vegas                  5268
madrid                     4790
porto                      4174
warsaw                     4016
palermo                    3872
ottawa                     3714
turin                      3403
wellington                 2304
peel                       1936
newhaven_ct                1885
menorca                    1757
york                       1607
tallin                     1574
jersey_city                1538
queenstown                 1171
prince_georges_county      1120
victoria_bc                 890
lincoln_county              810
saint_lucia                 718
richmond_bc                 620
savannah                    615
kitchener_waterloo          615
santa barbara               403
joshua_tree                 234
yellowknife                 161
newport                      94
linkoping                    50
Name: city, dtype: int64

In [5]:
df4 = df4[(df4['city'] == 'new_york') | (df4['city'] == 'paris') | (df4['city'] == 'los_angeles') | (df4['city'] == 'london') |
        (df4['city'] == 'rome') | (df4['city'] == 'seoul') | (df4['city'] == 'singapore')]
df4.head()

,accommodates,bedrooms,city,host_id,overall_satisfaction,price,reviews,room_id,room_type
42197,2.0,1.0,london,11077537.0,4.5,122.0,180.0,6487,Private room
42198,2.0,1.0,london,16902.0,NaN,185.0,0.0,7016,Entire home/apt
42199,4.0,2.0,london,29896.0,4.5,179.0,88.0,9293,Entire home/apt
42200,2.0,1.0,london,31655.0,5.0,54.0,64.0,9554,Private room
42201,1.0,1.0,london,31968.0,4.0,73.0,5.0,9607,Private room

In [6]:
df4['city'].value_counts()

new_york       196192
paris          145364
london         126596
los_angeles    107575
rome            58916
seoul           20024
singapore        5796
Name: city, dtype: int64

In [7]:
df4.to_csv("~/hosthome/1_data/all4_new.csv")