In [1]:
df5 = pd.read_csv("~/hosthome/1_data/all5.csv")

/home/dockeruser/anaconda2/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (5,11,14,18) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [2]:
df5.columns

Index([u'Unnamed: 0', u'Unnamed: 0.1', u'accommodates', u'bathrooms',
       u'bedrooms', u'borough', u'city', u'country', u'host_id',
       u'last_modified', u'latitude', u'location', u'longitude', u'minstay',
       u'name', u'neighborhood', u'overall_satisfaction', u'price',
       u'property_type', u'reviews', u'room_id', u'room_type', u'survey_id'],
      dtype='object')

In [3]:
df5 = df5.drop(['Unnamed: 0', 'Unnamed: 0.1', 'bathrooms', 'borough', 'country',
       'last_modified', 'latitude', 'location', 'longitude', 'minstay',
       'name', 'neighborhood', 'property_type', 'survey_id'], axis=1)

In [4]:
pd.options.display.max_rows = 2000000
df5['city'] = df5.city.str.lower()
df5['city'].value_counts()

new_york                 159026
paris                    154218
los_angeles              122111
london                    86538
rome                      61882
toronto                   50937
switzerland               46717
new york                  39745
san_francisco             38404
tuscany                   37295
montreal                  34986
veneto                    32093
miami                     29817
philadelphia              27041
washington                26009
lisbon                    24167
san_diego                 23913
seoul                     21588
vancouver_bc              21121
nice                      20087
seattle                   18972
sydney                    17343
oahu                      17309
new_orleans               17306
portland                  12948
venice                    12175
iceland                   10825
lyon                       9816
reykjavik                  9044
sri_lanka                  8725
moscow                     8370
singapore                  6753
vienna                     5445
madrid                     5393
las_vegas                  5261
porto                      4461
palermo                    3996
ottawa                     3993
nashville                  3603
warsaw                     3299
tallin                     3046
wellington                 2473
newhaven_ct                2321
menorca                    1866
victoria_bc                1780
jersey_city                1561
york                       1195
queenstown                 1137
prince_georges_county      1121
peel                        896
pittsburgh                  850
saint lucia                 743
savannah                    717
kitchener_waterloo          617
richmond bc                 561
lincoln county              492
portland_me                 409
santa barbara               398
yellowknife                 177
joshua_tree                 154
newport                      61
linkoping                    56
Name: city, dtype: int64

In [5]:
df5 = df5[(df5['city'] == 'new_york') | (df5['city'] == 'paris') | (df5['city'] == 'los_angeles') | (df5['city'] == 'london') |
        (df5['city'] == 'rome') | (df5['city'] == 'new york') | (df5['city'] == 'seoul') | (df5['city'] == 'singapore')]
df5.head()

,accommodates,bedrooms,city,host_id,overall_satisfaction,price,reviews,room_id,room_type
43133,5.0,1.0,london,273864.0,5.0,107.0,16.0,350530,Entire home/apt
43134,3.0,0.0,london,24593225.0,NaN,46.0,0.0,10041582,Entire home/apt
43135,NaN,3.0,london,857701.0,5.0,306.0,2.0,55574,Entire home/apt
43136,4.0,2.0,london,4926901.0,4.5,192.0,4.0,6936680,Entire home/apt
43137,2.0,1.0,london,36192259.0,5.0,45.0,15.0,6906312,Private room

In [6]:
df5['city'].value_counts()

new_york       159026
paris          154218
los_angeles    122111
london          86538
rome            61882
new york        39745
seoul           21588
singapore        6753
Name: city, dtype: int64

In [7]:
df5.to_csv("~/hosthome/1_data/all5_new.csv")